.wide,
.note-width-wide {
    --file-line-width: 100%;
}
.readable,
.note-width-readable {
    --file-line-width: 900px;
    --page-width: 900px;

    &.markdown-source-view.mod-cm6 .cm-sizer,
    & .markdown-source-view.mod-cm6 .cm-scroller .cm-sizer,
    & .markdown-preview-sizer 
    {
        max-width: var(--file-line-width);
        margin: auto;
    }
}

